<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Grupo FoapGenerico2025" />
    <meta name="description" content="Juego de Aventura Grafica" />
    <meta name="robots" content="index, follow" />

    <title><%= titulo || "Titulo del Juego" %></title>

    <!--Icono/Favicon-->
    <link rel="icon" href="/assets/img/favicon/favicon.ico" type="image/png" />

    <!--CSS Global-->
    <link rel="stylesheet" href="/assets/css/global/base.css" />

    <!--CSS de la Pagina-->
    <% if (css) { %>
        <link rel="stylesheet" href="/assets/css/secciones/<%= css %>" />
    <% } %>
</head>